<!DOCTYPE html>
<html>
<head>
    <title>Python Tools</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/spreek">Spreektekstinator</a> |
        <a href="/subtitle_modifier">Subtitle Modifier</a> |
        <a href="/syncsrt">SyncSrt</a>
    </nav>
    <h1>Python Tools</h1>
    <ul>
        <li><a href="/spreek">Spreektekstinator</a></li>
        <li><a href="/subtitle_modifier">Subtitle Modifier</a></li>
        <li><a href="/syncsrt">SyncSrt</a></li>
    </ul>
</body>
</html>
